@use '../../scss/abstracts/variables';

.services-menu {
	margin: 12px 0 0 0;

	&__container {
		width: variables.$container;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		display: flex;
		align-items: center;
	}

	&__item:not(:first-child) {
		margin: 0 0 0 80px;
	}

	&__link {
		display: block;
		font-size: 15px;
	}
}