@use '../abstracts/variables';

*,
*::before,
*::after {
	font-family: variables.$roboto;
	font-weight: variables.$roboto-regular;
}

[class*="__container"] {
	margin: 0 auto;
	padding: 0 20px;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.btn {
	display: block;
	padding: 11px 70px;
	background: variables.$color;
	font-size: variables.$size-text;
	color: variables.$color-decoration;
	border: 2px solid variables.$color-text;

	&_purple {
		background: variables.$bg-title;
	}
}