@use '../abstracts/variables';

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-regular.woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

.uppercase {
	text-transform: uppercase;
}

.title {
	font-size: variables.$size-title;
	color: variables.$color-text;
	line-height: 70px;
}

.sub-title {
	font-size: 18px;
	color: variables.$color-text;
}