// containers
$container: 1410px; // 1370 + padding 20 0
$container-content: 1350px; // 1310px + padding 20 0

// colors
$color: #f1eafb;
$color-text: #000;
$color-decoration: #9f4a19;

// backgrouns
$bg: #f9f7f3;
$bg-title: #fff;

// sizes
$size-text: 16px;
$size-placeholder: 14px;
$size-title: 70px;
$size-title-section: 34px;
$padding-title-section-vert: 20px;
$padding-text: 25px;

// fonts
$roboto: 'Roboto',
sans-serif;

// weight
$roboto-regular: 400;